.date#date-2004-01-10
  %h2.single ActiveRecord > RubyTalk

.date.version#date-2004-05-30
  %h2 ActiveRecord 0.75
  
.date.slidegroup#date-2004-02-01
  .slide
    %h2.single Backstory
  .slide
    %h2.single AOL
  .slide
    %h2.single Interactive Media Developer
  .slide
    %h2.single JSP
  .slide
    %pre.prettyprint
      :escaped
        <h2><%= co.getContent("/content/mHeadline") %></h2>
        <p><%= co.getContent("/content/mTeaser") %></p>
  .slide
    
      
  


.date#date-2005-09-17
  %h2 rubyonrails-ug.de
  %p Erste Posts von
  %ul
    %li Norbert Wigbels
    %li Mathias Meyer
    %li Daniel Bovensiepen
    %li Michael Bumann

.date.slidegroup#date-2005-03-18
  .slide
    %h2.single Java can be concise, too!
  .slide.image
    %img{:src => "assets/rifebla.png"}
