.date#date-2004-01-10
  %h2.single ActiveRecord > RubyTalk
  
.date.slidegroup#date-2004-02-01
  .slide
    %h2.single Backstory
  .slide
    %h2.single AOL
  .slide
    %h2.single Interactive Media Developer
  .slide
    %h2.single JSP
  .slide
    %pre.prettyprint
      :escaped
        <h2><%= co.getContent("/content/mHeadline") %></h2>
        <p><%= co.getContent("/content/mTeaser") %></p>
  .slide
    %h2.single CSS-Layouts
  .slide
    %h2.single Barrierefreiheit
  .slide
    %h2.single AJAX Evangelism

.date#date-2004-03-01
  %h2.single jan.krutisch.de/blog/
  %p (Zweites Blog-System)

.date.slidegroup#date-2004-05-29
  .slide
    %h2.single Rasterbator
  .slide
    %h2.single Rasterizer
  .slide
    %h2.single Java/Swing-GUI
  .slide
    %h2.single Pro7-Vorfall

.date.version#date-2004-05-30
  %h2 ActiveRecord 0.75


-################################################################## 2005

.date.slidegroup#date-2005-03-18
  .slide
    %h2.single Java can be concise, too!
  .slide.image
    %img{:src => "assets/rifebla.png"}
  .slide
    %h2.single RailsConf 2005
  .slide
    %h2.single First they ignore you
  .slide
    %h2.single then they laugh you
  .slide
    %h2.single then they fight you
  .slide
    %h2.single then you win

.date.slidegroup#date-2005-07-13
  .slide
    %h2.single First Rails Book evar
  .slide.image
    %img{:src => "assets/rails_book.png"}
    

.date#date-2005-09-17
  %h2 rubyonrails-ug.de
  %p Erste Posts von
  %ul
    %li Norbert Wigbels
    %li Mathias Meyer
    %li Daniel Bovensiepen
    %li Michael Bumann

.date.slidegroup#date-2005-10-16
  .slide
    %h2.single RubyConf 2005
      

.date#date-2005-10-19
  %h2 Lehmanns-Vortrag
  %ul
    %li Thomas Baustert
    %li Ralf Wirdemann
    %li Konstitierende Sitzung UG Hamburg

  .date#date-2006-10-18
    %h2 Deployment: SCGI
    %p Zed A. Shaw
    %p SGGI Rails Runner (SRR)
    %p mod_scgi in apache || lighttpd
    %p (0.4.2)

-################################################################## 2006

.date.slidegroup#date-2006-01-15
  .slide
    %h2.single Erstes deutsches Rails-Buch
  .slide.image
    %img{:src => 'assets/rapidwebdevelopment_small.png'}

.date#date-2006-02-20
  %h2 Deployment: mongrel

.date#date-2006-02-26
  %h2 Deployment: SCGI
  %p mod_scgi / lighttpd

.date#date-2006-03-15
  %h2 Twitter starts

.date#date-2006-03-29
  -# TODO: Fav. Feature of Rails 1.1

.date#date-2006-05-23
  %h2 What's new in Edge Rails
  %p (Observer Generators)

.date.slidegroup#date-2006-06-09
  .slide
    %h2.single AOL WM 2006 Tippspiel
  .slide
    %h2.single ca. 200 User
  .slide
    %h2.single Lawyers were involved

.date#date-2006-08-24
  %h2.single Amazon EC2

.date#date-2006-09-12
  %h2.single Ein Buch-Auftrag

.date#date-2006-09-14
  %h2.single 1. RailsConfEurope in London

.date#date-2006-10-10
  %h2.single "Introducing the Merb"

.date#date-2006-11-01
  %h2.single me@Qype

.date#date-2006-11-03
  %h2.single Erste Railskonferenz in Frankfurt

-################################################################## 2007

.date#date-2007-01-18
  -# TODO: 2007-01-19 Favourite Feature of Rails 1.2

.date.version#date-2007-01-23
  %h2 Mongrel 1.0(.1)

.date#date-2007-03-06
  %h2.single rm -rf public/user_images/

.date.slidegroup#date-2007-04-15
  %img{:src => 'assets/mindmatters-logo.gif'}
  %h2.single me@mindmatters
  
.date.slidegroup#date-2007-04-27
  .slide
    %h2.Unser Buch!
  .slide.image
    %img{:src => 'assets/webanwendungen.jpg'}

.date#date-2007-06-22
  %h2.single Zweite Railskonferenz in Frankfurt

.date.slidegroup#date-2007-09-08
  .slide
    %h2.single RailsRumble
  .slide
    %h2.single SoundBadge.net
  .slide
    %h2.single Most Innovative Application
    
.date#date-2007-09-17
  %h2.single 2.RailsConfEurope in Berlin

.date.slidegroup#date-2007-12-08
  .slide
    %pre.prettyprint
      :preserve
        /books/10/edit
        # no more semicolons
  .slide
    %pre.prettyprint
      :preserve
        create_table "users", :force => true do |t| 
          t.integer :group_id, :employer_id
          t.string :first, :last
          t.timestamps
        end
        
.date#date-2007-12-31
  %blockquote Rails is a Ghetto
  %p - Zed A. Shaw

-################################################################## 2008

.date.slidegroup#date-2008-01-30
  .slide
    %h2 3-2-1-Launch
    %p Hashrocket
  .slide
    %h2 spiking
    %p mindmatters
  .slide
    %h2 Summer special
    %p railslove
  .slide
    %h2.single Quick without dirty
    
.date#date-2008-04-11
  %h2.single mod_passenger

.date#date-2008-05-01
  %h2.single Twitter goes for Scala

.date#date-2008-06-10
  %h2.single Dritte Railskonferenz in Frankfurt

.date.slidegroup#date-2008-06-03
  .slide
    %h2.single Rails 2.1 faves
  .slide
    %pre.prettyprint
      :preserve
        > script/generate migration one
            create  db/migrate/20080402122512_one.rb
  .slide
    %pre.prettyprint
      :preserve
        named_scope :active, :conditions => {:active => true}
        named_scope :inactive, :conditions => {:active => false}
        named_scope :recent, lambda { { :conditions => ['created_at > ?', 1.week.ago] } }
        
.date#date-2008-09-02
  %h2.single 3. RailsConfEurope in Berlin

.date#date-2008-10-30
  %blockquote Chad Fowler is a werewolf
  %p - Giles Bowkett

.date.version#date-2008-11-08
  %h2 Merb 1.0

.date.slidegroup#date-2008-11-23
  .slide
    %h2.single Rails 2.2 faves
  .slide
    %h2.single i18n!
  .slide
    %h2.single Shallow routes
  .slide
    %h2.single Conditional get

-################################################################## 2009
.date.slidegroup#date-2009-03-18
  .slide
    %h2.single Rails 2.3 faves
  .slide
    %h2.single Application templates
  .slide
    %h2.single Rack/Metal
  .slide
    %pre.prettyprint
      :preserve
        nil.try(:nice)
  .slide
    %h2.single Nested Model Mass Assignment
  .slide
    %pre.prettyprint
      :preserve
        Article.scoped_by_published_and_user_id(true, 1).find(:all, :limit => 5)
  .slide
    %pre.prettyprint
      :preserve
        article.find_in_batches(batch_size => 100 ) { |articles| 
          articles.each { |a| ... } }
  .slide
    %h2.single Engines
  .slide
    %h2.single Simplified render
    
.date#date-2009-04-18
  %h2.single Perform like a pr0n star!
